@charset "UTF-8";
html {
  font-size: 12px;
}
* {
  margin: 0;
  padding: 0;
}
i,
em {
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color:#ffffff;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
  overflow: auto;
}
html * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}


$_scale_ = 320 / 750;
toRem($number){
  unit(( $number * $_scale_ / 12), 'rem')
}

