@import "commons/common"


.root{
    width: 50%
    height: 30px
    background: red
    margin-bottom: 10px
}
.root2{
    width: toRem(374)
    height: 30px
    background: blue
    margin-bottom: 10px
}
body{
    background: yellow
    display: flex
    width: 200px
}